/*css for header section */
.container{
	max-width:1200px;
}
.header {
	padding:30px 0px 30px 0px;
	font-size:50px;
}
.header, .control{
	background-color:#57b29b;
}
.control{
	padding:30px 0px 30px 0px;
}
table{
	padding: 50px;
}
select{
	width:173px;
	height:25px;
}
.number{
	width:170px;
}